# Application Container User Configuration
GROUP_ID="id -g"
GROUP_NAME="id -gn"
USER_ID="id -u"
USER_NAME="id -un"

# Application Specific Configuration
PORT=3000

# Database Configuration
DB_PORT=5555
DB_USER=user
DB_PASSWORD=pass
DB_NAME=app_db

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}"
PRISMA_STUDIO_PORT=5000

# Next Auth options
NEXTAUTH_SECRET=super_secret_jwt_token
NEXTAUTH_URL=http://localhost:3000

# Pusher Secrets
PUSHER_APP_ID=pusher_app_id
NEXT_PUBLIC_PUSHER_KEY=pusher_key
PUSHER_SECRET=pusher_secret
NEXT_PUBLIC_PUSHER_CLUSTER=pusher_cluster